*
    font-family: "Roboto", sans-serif

.container
    max-width: 1920px
    padding: 25px 80px 50px 80px
    display: flex
    flex-direction: column
    justify-content: space-between
    margin: 0 auto
    &_footer
        padding-top: 75px 
        display: flex
        justify-content: space-between
        flex-direction: row




@import "./blocks/promo"
@import "./blocks/header"
@import "./blocks/logo"
@import "./blocks/buttons"
@import "./blocks/catalog"
@import "./blocks/cards"
@import "./blocks/footer"
@import "./base/media"
