.button
    
    border-radius: 6px
    background-color: #0aaee4
    border: none
    font-size: 28px
    color: #ffffff
    font-weight: 400    
    text-transform: capitalize
    padding: 5px 27px
    transition: 0.3s all
    &:hover
        background-color: #3191ff
    &_card 
        font-size: 23px
        padding: 7px 20px
    &_none
        display: block
    &_opacity
        background: none
        border: 2px solid #ffffff
        padding: 3px 27px
        margin-left: 42px
        margin-right: 32px
        transition: 0.3s all
        &:hover
            background: none
            color: #ffdf99
            border: 2px solid #ffdf99
