.button
    width: 199px
    height: 60px
    border-radius: 6px
    background-color: #0aaee4
    border: none
    font-size: 28px
    color: #ffffff
    font-weight: 400    
    text-transform: capitalize

