.catalog

    background-color: #f5f6f6
    &__menu
        position: relative
        display: flex
        justify-content: space-between
        &::after
            content: ''
            border-bottom: 1px #c9c9c9 solid
            width: 100%
            position: absolute
            top: 50px
            
             

        
    &__ul
        ul
            display: flex
            list-style-type: none
            padding: 0
            li 
                font-size: 28px
                font-weight: 400
                color: #0aaee4
                margin-right: 40px
                padding-bottom: 10px 
                cursor: pointer
                transition: 0.2s all
                opacity: 0.7
                height: 50px
                &:hover
                    opacity: 1
                    border-bottom: 2px solid 
                &:nth-child(6)
                    margin-right: 15px
                &:nth-child(7)
                    margin-right: 0
                    padding: 0 5px
            li.arrow-down
                transform: rotate(90deg)
                font-weight: 700
                font-size: 30px
                border: none
                transition: transform 0.5s


    &__decors
        display: flex
        justify-content: space-between
        align-items: center
        width: 90px
        height: 40px
        
    &__decor
        width: 40px
        display: flex
        flex-wrap: wrap
        
        
    &__div
        width: 16px
        height: 14px
        background-color: #3bb4e0
        margin: 3px 2px
        border-radius: 2px
        
        
    &__divs
        width: 35px
        height: 14px
        background-color: #9e9e9e
        margin: 3px 0
        border-radius: 2px
    &__cards
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        margin-bottom: 25px
    &__banner
        min-height: 505px
        background-image: url(../img/bg_2.png)
        background-repeat: no-repeat 
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    &__banner-text
        font-size: 56px
        text-align: center
        font-weight: 300
        color: #ffffff
        margin-bottom: 30px
    &__loading
        margin: 80px 0 20px 0
    &__loading-points
        display: flex
        justify-content: center
        height: 50px
    &__loading-point
        width: 13px
        height: 13px
        background-color: #0aaee4
        margin: 0 7px
        opacity: 0.3
        border-radius: 100%
        transition: all 0.5s
    &__loading-text
        font-size: 25px
        font-weight: 500
        color: rgba(36, 43, 45, 0.35)
        text-align: center

.arrow-active
    transform: rotate(0) !important
    
.point-active
    transform: scale(1.4)
    opacity: 1
