.logo
    text-transform: uppercase
    font-size: 50px
    font-weight: 100
    color: #ffffff
    &:hover
        color: #ffffff
        text-decoration: none
    &_blue
        color: #0aaee4
        line-height: 40px
        text-align: center
        &:hover
            color: #0aaee4
    &_mini
        color: rgba(36, 43, 45, 0.4)
        font-size: 24px
        &:hover
            color: rgba(36, 43, 45, 0.4)
.logotipe
    font-weight: 900
    text-transform: uppercase
    color: #ffffff
    &_blue
        color: #0aaee4
        line-height: 30px
    &_mini
        color: rgba(36, 43, 45, 0.4)
        font-size: 24px
